<div class="profile-page">
    <header>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="booking">BOOKINGS</a></li>
                <li><a href="profile">PROFILE</a></li>
                <li><button (click)="logOut()">LOG OUT</button></li>
            </ul>
        </nav>
    </header>

    <div class="profile-content-container">

        <div class="settings-container" *ngIf="user">
            <h2>Settings</h2>
            <div class="settings-form">
                <input type="email" placeholder="Email" value="{{ user.email }}">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <button type="submit">Save Changes</button>
            </div>
        </div>

        <div class="profile-card" *ngIf="userDetails">
            <div class="profile-picture">
                <img [src]="userDetails.image" alt="User's Profile">
            </div>
            <h1>{{ userDetails.name }} {{ userDetails.surname }}</h1>
            <p>Location: {{ userDetails.location }}</p>
        </div>
        
        <div class="driver-license-container" *ngIf="license">
            <h2>Driver License</h2>
            <div class="driver-license-form">
                <input type="text" placeholder="License Number" [value]="license.licenseNumber" disabled>
                <input type="date" placeholder="Start Date" [value]="license.startDate | date:'yyyy-MM-dd'" disabled>
                <input type="date" placeholder="Expiration Date" [value]="license.expirationDate | date:'yyyy-MM-dd'" disabled>
        
                <!-- Image display -->
                <div class="license-image">
                    <img [src]="license.image" alt="Driver License Image">
                </div>
            </div>
        </div>
        
        
    </div>

    <div class="booking-history-container">
        <h2>Booking History</h2>
        <table class="bookings-table">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Status</th>
                    <th>Pick-Up</th>
                    <th>Drop-Off</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookings">
                    <td>{{ booking.bookingId }}</td>
                    <td>{{ booking.status }}</td>
                    <td>{{ booking.pickUpDate | date:'medium' }}</td>
                    <td>{{ booking.dropOffDate | date:'medium' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
</div>
