/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFE4C6;
  margin: 0;
  padding: 0;
}